body {
  background: #3D0E79;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}

#topWrapper {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

#modeWrapper {
  flex-grow: 3;
  text-align: right;
  margin: 0;
  padding: 10px;
}

h1 {
  margin: -10px 0 15px;
}

#startWrapper {
  margin: -10px auto 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 330px;
}

#startWrapper>button {
  width: 35px;
  height: 35px;
  border-radius: 15%;
  border: 0;
  background: #fff;
  cursor: pointer;
}

#startWrapper>button:active {
  transform: scale(0.98);
  color: #3D0E79;
}

#start {
  display: block;
}

#pause {
  display: none;
}

#statusWrapper {
  width: 360px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

#statusWrapper>div>span {
  vertical-align: top;
}

#container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 333px;
  height: 333px;
  margin: 15px;
  border: 1px solid #FFF;
  overflow-x: hidden;
  overflow-y: auto;
}

#container::-webkit-scrollbar {
  display: none;
}

#container>div {
  width: 35px;
  height: 35px;
  font-size: 1.8em;
  text-align: center;
}

#pauseMessage {
  background: #B98EFF;
  border: 1px solid #000;
  width: 300px;
  height: 80px;
  color: #000;
  position: absolute;
  margin: 35vh auto;
  text-align: center;
  font-size: 1.1em;
  padding: 30px 0 20px;
  z-index: 2;
  display: none;
}

#pauseMessage>span {
  vertical-align: middle;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(55, 55, 77, .8);
  transition: all .2s;
  z-index: 2;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background: #B98EFF;
  border: 1px solid #000;
  width: 400px;
  height: auto;
  color: #000;
  text-align: justify;
  font-size: 1.1em;
  padding: 30px 10px 20px;
  margin: 5% auto;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #000;
  font-size: 2em;
  text-decoration: none;
}

.modal-content>h3 {
  text-align: center;
}

.modal-content>ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 25px;
  padding-right: 15px;
}

.modal-content>ul>li {
  padding-bottom: 15px;
}

#highscoreList {
  list-style-type: none;
  text-align: center;
}

#buttonWrapper {
  margin: 0px;
  display: flex;
  width: 360px;
  justify-content: space-around;
  align-items: center;
}

#buttonWrapper>button {
  margin: 10px;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 15%;
  border: 0;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  font-size: 0.55em;
}

#add {
  display: block;
}

#shuffle {
  display: none;
}

#buttonWrapper>button:active {
  transform: scale(0.98);
  color: #3D0E79;
}

/* iPhone6/7/8 */
@media only screen and (device-width: 375px)
                   and (device-height: 667px)
                   and (-webkit-device-pixel-ratio: 2) {
  body {
    margin: 0;
    width: 375px;
    height: 667px;
    position: fixed;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }

  #topWrapper {
    margin: 0;
  }

  h1 {
    margin: -5px auto 7px;
  }

  #startWrapper {
    width: 92%;
    margin: -5px 0 5px;
  }

  #statusWrapper {
    width: 96%;
    margin: 10px 0;
  }

  #container {
    margin: 0;
    -webkit-overflow-scrolling: auto;
  }

  #container::-webkit-scrollbar {
    display: block;
  }

  .modal-content {
    width: 80vw;
    font-size: 0.9em;
    height: auto;
  }

  #buttonWrapper {
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
}
